<!DOCTYPE html>
<html>
  <head>
    <title>ProductWatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400" %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
